/* 
*                max-width: 992px
*
*/


@media (max-width: 992px) {

    .navbar>.container-fluid {
        text-align: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    .navbar>.container-fluid img {
        width: 100%;
    }

    .btn-nav-colas {
        display: flex;
        justify-content: flex-end;
    }

    .floatend {
        flex-direction: column;
    }

    .container-activite {
        margin-top: 2%;
        max-width: max-content;
    }

    .container-membres {
        margin-top: 15%;
        padding-bottom: 20%;
    }

    .nav-container {

        width: 32%;
    }

    .contact-container,
    .col-3 {
        width: 100% !important;
    }

    .register-container {
        width: 100% !important;
        padding-bottom: 2rem;
    }
}

/* 
*                max-width: 768px
*
*/

@media (max-width: 768px) {


    .navbar,
    .footercontainer .container,
    .container-sm,
    .container-fluid {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .navbar>.container-fluid {
        display: flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar>.container-fluid img {
        width: 100%;
    }

    .floatend {
        flex-direction: column;
        text-align: center;
    }

    .layouts-section {
        padding: 0 0.25rem;

    }

    .container-activite {
        margin-top: 1%;
        max-width: max-content;
        padding: 0.9rem !important;
    }

    .contact-container,
    .col-3 {
        width: 100% !important;
        margin-bottom: 2rem;
    }

    .activite-col-tex {
        width: 60%;
        padding: 0 0.25rem
    }

    .activite-col-tex p {
        font-size: 0.8rem !important;
    }

    .container-activite .row {
        display: flex;
        justify-content: space-between;
    }

    .nav-container {
        padding-bottom: 2rem;
        width: 37%;
        padding-right: 0rem;
    }

    .navbar-fixed-left {
        width: 37%;
        padding: 0 0.1rem 0 0.1rem;
    }

    .nav .nav-pills {
        padding: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .nav-pills .nav-link {
        padding: 0.55rem 0.5rem;
        display: flex;
        margin: 0.1rem 0.2rem;
        height: 0rem;
        font-size: 0.8rem !important;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-pills .nav-link.active {
        width: 70%;
    }

    .cardss {
        margin-top: 1rem;
        flex-direction: column;
    }

    .register-container {
        width: 100%;
    }
}

/* 
*                max-width: 576px
*
*/

@media (max-width: 576px) {

    .navbar,
    .footercontainer .container,
    .container-sm,
    .container-fluid {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .navbar>.container-fluid {
        display: flex;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar>.container-fluid img {
        width: 100%;
    }

    .floatend {
        flex-direction: column;
        text-align: center;
    }

    .layouts-section {
        padding: 0 0.25rem;

    }

    .container-activite {
        margin-top: 3%;
        padding: 0.4rem !important;
    }

    .contact-container,
    .col-3 {
        width: 100% !important;
        margin-bottom: 2rem;
    }

    .activite-col-tex {
        width: 50%;
        padding: 0 0.25rem
    }

    .activite-col-tex p {
        font-size: 0.8rem !important;
    }

    .container-activite .row {
        display: flex;
        justify-content: space-between;
    }

    .nav-container {
        padding-bottom: 2rem;
        width: 48%;
        padding-right: 0rem;
    }

    .navbar-fixed-left {
        width: 50%;
        padding: 0 0.1rem 0 0.1rem;
    }

    .nav .nav-pills {
        padding: 0.2rem;
        margin-bottom: 0.2rem;
    }

    .nav-pills .nav-link {
        padding: 0.85rem 0.5rem;
        display: flex;
        margin: 0.1rem 0.2rem;
        height: 0rem;
        font-size: 0.8rem !important;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav-pills .nav-link.active {
        width: 70%;
    }

    .cardss {
        margin-top: 1rem;
        flex-direction: column;
    }

    .register-container {
        width: 100%;
    }

}