
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

/* 
.background-img {
    height: 84vh;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
    position: absolute;
} */
/* 
section {
    width: 100vw;
} */

.layouts-section {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    padding: 1rem;
    justify-content: center;
    align-content: center;
}

#backTotopbtn {
    display: none;
    position: fixed;
    bottom: 1.8rem;
    right: 1.5rem;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#backTotopbtn:hover {
    background-color: #555;
}



.footercontainer {
    min-height: min-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1;
    border-top: 0.002rem solid black;
}

/****************************************************************
/*NavBar layouts html page*/
/*
 */

nav {
    display: flex;
}

.navbarlayouts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
}

.navbar-nav li {
    margin: 0 0.5rem;
}

.navbarAbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.navbar-toggler {
    height: 100%;
}

a.active {
    color: blue !important;
    /* background-color: rgb(247, 236, 217); */
    border-bottom: 0.01rem solid blue;
    border-radius: 5px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    min-width: min-content;
}

.logoharmonie {
    cursor: pointer;
    /* width: 50%; */
}

/****************************************************************
/*Accueil Carousel Accueil.html*/

.carousel {
    margin: 7% 1%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: cadetblue;
    border-radius: 25px;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
    justify-content: center;
}

/****************************************************************
/*ScrollSpy  Activites.html page and membres page html*/

.container-membres-content {
    display: flex;
    flex-direction: row;
}

.navbar-fixed-left {
    display: flex;
    position: fixed;
    border-radius: 0;
    padding-right: 1rem;
    margin-right: 1rem;
}

.navbar-fixed-left .navbar-nav>li {
    float: none;
    width: 139px;
}

.navbar-fixed-left+.container {
    padding-left: 160px;
}


.nav-container {
    padding-left: 0rem;
    width: 30%;
}

.nav-pills .nav-link {
    padding: 0.7rem 1rem;
    height: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.nav .nav-pills {
    padding: 0rem 1rem;
    margin-bottom: 0.2rem;
}

/****************************************************************
/*Membres page .html VOIR CSS activite page*/


.title-membres {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 0.01rem solid black;
}

.button-membres {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem;
    height: min-content;
    flex-direction: column;
    align-content: center;
}

.scroll-seit .mrgtp {
    margin-top: 4rem;
}

.scroll-seit h6 {
    text-align: center;
    margin-bottom: 3rem;
}

.scroll-seit p {
    margin-bottom: 20%;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: white !important;
}

/****************************************************************
/*Contact page html*/
/* 
*/
.contact-container {
    width: 60%;
}

.contact-container .card {
    border: none;
}

.card-body .card-text {
    margin-bottom: 0.
}

.color-title.a {
    color: #ADC40D;
}

.color-title.b {
    color: #01A0DB;
}

.color-title.c {
    color: #F9B415;
}

/****************************************************************
/*Register page html*/
/* 
*/

.modal-footer {
    padding: 0 0.7rem;
}

.modal-footer .footer-button-modal {
    display: flex;
    justify-content: flex-end;
    width: min-content;
    margin: 0 0 0 0.5rem;
}

.form-check label {
    width: max-content !important;
    margin-left: 0.4rem;
}

.form-check {
    display: flex;
    margin-left: 0.4rem;
}

.condition-membre {
    margin-left: 1rem;
    text-decoration: none;
}

.input-grp input {
    width: 100% !important;
}

.form-control {
    padding: 0.1rem 0.5rem;
}

/****************************************************************
/*Login page html*/

.login-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext {
    height: 1rem;
}

.form-floating>label {
    padding: 0.2rem 0.75rem;
}

/****************************************************************
/*FOOTER content html layouts page*/

.floatend {
    align-items: center;
    display: flex;
    /* margin: 1rem; */

    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.floatend p {
    padding: 0 0.5rem;
    font-size: 0.7rem;
    margin-bottom: 0;
}