<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='../static/css/mediaquery.css')}}">

    <title>{{title}}</title>
</head>

<body>
    <header class="col-12">
        <nav>
            <!-- Navbar component pour chaque page html -->
            <div class="col-12 navbarlayouts bg-light">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <div class="navbarAbutton">
                            <a class="navbar-brand" href="{{url_for('accueilpage')}}">
                                <img class="logoharmonie"
                                    src="{{url_for('static', filename='../static/image/logo_harmonie_test.png')}}"
                                    width="40%" alt="Logo harmonie">
                                </img>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="{{url_for('accueilpage')}}"
                                        id="accueil">Accueil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('activitespage')}}">Activites</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('courspage')}}">Cours</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('donationpage')}}">Donation</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('membrespage')}}">Membres</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('contactpage')}}">Contact</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page"
                                        href="{{url_for('registerpage')}}">S'inscrire</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('loginpage')}}">Connexion</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </nav>
    </header>

    <section class="layouts-section">
        <div class="container w-50">
            {%with messages=get_flashed_messages(with_categories=true)%}
                {%if messages%}
                    {% for category,mesage in messages%}
                    <div class="alert alert-{{category}}">{{message}}</div>
                    {%endfor%}
                {%endif%}
            {%endwith%}
        </div>
        <!-- {% block content %}


        {% endblock content %} -->

        {% block content_Accueil %}
        {% endblock content_Accueil %}

        {% block content_Activites %}
        {% endblock content_Activites %}

        {% block content_Cours %}
        {% endblock content_Cours %}

        {% block content_Donation %}
        {% endblock content_Donation %}

        {% block content_Membres %}
        {% endblock content_Membres %}

        {% block content_Contact %}
        {% endblock content_Contact %}

        {% block content_Login %}
        {% endblock content_Login %}

        {% block content_Register %}
        {% endblock content_Register %}

        {% block content_Account %}
        {% endblock content_Account %}
        <div class="fixed-bottom back-to-top "><a class="badge text-bg-info" href="#">Back to top</a></div>

    </section>
    <!-- FOOTER -->
    <footer class="footercontainer bg-light">

        <div class="floatend">
            <p>Association Harmonie Culturelle</p>
            <div class="floatend">
                <p>Rue du simplon 3</p>
                <p>1020 Renens</p>
                <p>harmonie.culturelle@gmail.com</p>
            </div>

            <div class="floatend">
                <p>© 2022–2022 Sükrü</p>
                <p><a href="#">Privacy</a></p>
                <p><a href="#">Terms</a></p>
            </div>
        </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
    <script defer src="{{url_for('static',filename='../static/layouts.js')}}"></script>
</body>

</html>