{% extends 'layouts.html' %} {% block content_Login %}

<!-- <body class=" text-center"> -->

<div class="container login-page-body">
  <div class="row">
    <div class="col">
      <main class="form-signin w-100 m-auto">
        <form class="form-login">
          <img
            class="mb-4"
            src="../static/image/logo_harmonie.svg"
            alt="Logo Harmonie C."
            width="110"
          />
          <h3 class="h3 mb-3 fw-normal">Please sign in</h3>
          <div class="col-md mb-3">
            <!-- <input
              type="email"
              class="form-control"
              placeholder="email@cool.com"
              id="inputEmail4"
            /> -->
            {%if form.email.errors%} {{form.email(class="form-control
            form-control-md is-invalid", placeholder="email'@'cool.com")}} {%for
            error in form.email.errors%} <span>{{error}}</span> {%endfor%}
            {%else%} {{form.email(class="form-control form-control-md",
            placeholder="email'@'cool.ch")}} {%endif%}
          </div>
          <div class="col-md mb-3">
            <!-- <input
              type="password"
              class="form-control"
              placeholder="password"
              id="inputPassword4"
            /> -->
            {%if form.password.errors%} {{form.password(class="form-control
            form-control-md is-invalid", placeholder="password")}} {%for error
            in form.password.errors%} <span>{{error}}</span> {%endfor%} {%else%}
            {{form.password(class="form-control form-control-md password-input",
            placeholder="Mot de passe")}} {%endif%}
          </div>

          <div class="checkbox mb-3">
            <!-- <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label> -->
          </div>
          <!-- <button class="w-100 btn btn-lg btn-primary p-1" type="submit">
            Sign in
          </button> -->
          <!-- <a href="{{url_for('accueilpage')}}"> -->
          {{form.submit(class="form-control btn btn-primary form-control-md",
          placeholder="Envoyer")}}
          <!-- </a> -->
          <br /><br /><br />
        </form>
      </main>
    </div>
  </div>
</div>

<!-- </body>s -->

<script src="{{url_for('static', filename='../static/main.js')}}"></script>
{% endblock content_Login %}
